.memberlist {
	.centered();

	.property, .function {
		
		h2 {
			margin: 0.3em 0;
		}
		
		.details {
			max-height: 0;
			overflow: hidden;
		}
		
		&:target {
			border-top: 10px solid @anti-flash-white;
			border-bottom: 10px solid @anti-flash-white;
			padding: 10px;
			border-left: 10px solid @jacarta;
			background: fade(@jacarta, 10%);

			.details {
				transition: max-height 0.4s ease-in-out;
			
				max-height: 30em;
			}
		}
	}
	
}
