.memberlist {
	
	.property, .function {
		.details {
			transition: max-height 0.2s ease-out;
			
			max-height: 0;
			overflow: hidden;
		}
		
		&:target {
			
			.details {
				transition: max-height 0.3s ease-in;
			
				max-height: 30em;
			}
		}
	}
	
}
