.assertRendered {
	min-height: 3em;
	border-radius: 0.3em;
	background: #64bb39;
}

@import "function/function";
@import "property/property";
@import "description/description";
@import "usage/usage";
@import "note/note";
@import "arglist/arglist";
@import "member/member";
@import "memberlist/memberlist";

@import "example/example";

@import "category/category";

@import "ref/ref";

@import "feed-link/feed-link";

@import "fork-banner/fork-banner";

@import "masthead/masthead";

