.property, .function {
	h2 {
		.webfontInconsolata();

		font-weight: normal;
		color: @jacarta;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		
		&.is-ref {
			font-style: italic;

			&:hover::after {
				float: left;
				font-size: 0.5em;
				font-weight: normal;
				content: " (belong to another category but shown here as well)";
			}
		}
		
		a {
			display: block;
			color: inherit;
			text-decoration: none;
			padding: 2px 3px;
		}
	}
	
	&:not(:target):hover a,
	a:focus {
		text-decoration: underline;
		background: fade(@jacarta, 20%);
	}
	
	&.obsolete {
		opacity: 0.3;
	}
	
	&.has-example h2 {
		&::after {
			content: "*";
			margin-left: 0.5em;
		}
	}
	
}
